[[source]]
# url = "https://pypi.org/simple"
url = "https://repo.linecorp.com/repository/pypi/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
name = "pytorch-cpu"

[packages]
pandas = "*"
schedule = "*"
prometheus_client = "*"
prometheus_api_client = "*"
tornado = "==6.2"
pystan = "*"
prophet = "==1.1.2"
neuralprophet = "==0.5.4"
dateparser = "*"
mlflow = "*"
numpy = "*"
scikit-learn = "*"
# tensorflow = ">=2.0, <2.5"
tensorflow = "*"
plotly = "*"
ipywidgets = "*"
holidays = "*"
# tensorflow.keras.models for protobuf package to 3.20.x or lower.
protobuf = "==3.20.3"
statsmodels = "*"
cloud-tpu-client = "*"
keras = "*"
torch = {version = "==1.13.1", index = "pytorch-cpu"}

[requires]
python_version = "3.8"
