pandas
schedule
certifi
prometheus_client
prometheus-api-client
tornado
pystan==3.6.0
holidays
prophet==1.1.2
mlflow
numpy
scikit-learn
tensorflow>=2.0,<2.5
# tensorflow.keras.models for protobuf package to 3.20.x or lower.
protobuf==3.20.3
statsmodels
neuralprophet==0.5.4